<html>
	<head>
		<title>PIPortal</title>
	</head>
	<body>
		<div>
			<h1>
				PIPortal
			</h1>
			<input type="button" ng-click="signout()" value="signout"></input>
		</div>
		<div>
			<div>
				Filters
			</div>
			<div>
				Write a new post
				<div>
					<textarea ng-model = "post.text">
					</textarea>
					<select ng-model = "post.relatedto" ng-options="x for x in relatedto">
					</select>
					<select ng-model = "post.category" ng-options="x for x in category">
					</select>
					<select ng-model = "post.branch" ng-options="x for x in branch">
					</select>
					<input type="button" value="Post" ng-click="send()"></input>
				</div>
				<div>
					<p ng-repeat="post in posts track by $index">
						{{post.text}}
						{{post.author}}
						{{post.category}}
						{{post.branch}}
						{{post.relatedto}}
					</p>
				</div>
			</div>
		</div>
	</body>
</html>