<!--   <link rel="stylesheet" type="text/css" href="./test/bootstrap.min.css">
  <link href="./dist/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" rel="stylesheet">
  <link href="./dist/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="./stylesheets/home1.css">
    <div id="navcontainer" class="container panel panel-default">

      <nav class="row navbar navbar-default">
        <div class="container">
          <div class="navbar-header navbar-left">
              <a class="navbar-brand" href="#">PIPortal</a>
          </div>

          <div class="navbar-right">
            <a href="#" class="navbar-text">
              aboutUs
            </a>
            <span  id="signout" class="navbar-text" ng-click="signout()" >
              <i class="fa fa-sign-out fa-2x" aria-hidden="true" style="margin-top: -4px;"></i>
            </span>
          </div>
        </div>
      </nav>

      <div class="row">
        <div class="col-md-2">
          <div id="leftpane">
            <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
              <li ng-class="class1" ng-click="changetab(class1)"><a href="#/posts">Home</a></li>
              <li ng-class="class2" ng-click="changetab(class2)"><a href="#/posts">WritePost</a></li>
            </ul>
          </div>

        </div>

        <div class="col-md-9" id="content">

          <div class="form" id="userform" ng-hide="home">

            <div  id="userpost" class="form-group label-floating is-empty">
              <label for="comment">Your post:</label>
              <div class="panel panel-default">
                <textarea class="form-control" rows="6" id="comment" style="padding : 5px" ng-model="post.text"></textarea>
              </div>
            </div>

            <div class="form-group row" style="margin-left: 0px; margin-bottom: 5px;">

              <div class="form-group col-md-3 label-floating is-empty" id="username">
                <label class="control-label" for="username1">Your Name</label>
                <input  type="text" class="form-control" id="username1" ng-model="post.author">
              </div>
              <div class="form-group col-md-3 label-floating is-empty" id="usercompany">
                <label class="control-label" for="usercompany1">Company</label>
                <input  type="text" class="form-control" id="usercompany1" ng-model="post.company">
              </div>
            </div>

            <div class="form-group">


                <div style="margin-bottom : 20px">
                  <div class="select_style" >
                    <select ng-model="post.category" ng-options="cat for cat in category"></select><span></span>  </div>
                  <div class="select_style" style="margin-left: 20px" >
                    <select  ng-model="post.branch" ng-options="br for br in branch"></select>
                    <span></span>
                  </div>
                </div>

<!--  for material design             <span >
                <label class="radio-inline">
                  <input type="radio" ng-model="post.relatedto" value="placement"> Placement
                </label>
                <label class="radio-inline">
                  <input type="radio" ng-model="post.relatedto" value="intern"> Internship
                </label>
              </span>  -->
              <span >
                <label class="radio-inline">
                  <input type="radio" ng-model="post.relatedto" value="placement"> Placement
                  <input type="radio" ng-model="post.relatedto" value="intern"> Internship
                </label>
              </span> 


            </div>

            <button id="submitbtn" class="btn btn-raised" ng-click="send()">Submit</button>

            

          </div>


          <div id="posts" ng-show="home">
            <div >
              <div class="post panel panel-default" ng-repeat="post in posts track by $index">
                <div class="panel-heading">
                  <h4 class=" pull-left lead">{{post.company}}</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div style="display:inline-block; margin-top : 7px ">
                    <p><i class="fa fa-user"></i> by {{post.author}}
                  </div>
                  <div  class="pull-right" style= "margin-top : 5px;">
                    <span><p><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{post.timestamp | date : "MMM d, y h:mm a"}} </p></span>
                  </div>
                  <div style="display : inline-block; margin-top : 5px; margin-left : 10px">
                  <p><i class="fa fa-tags"></i> Tags: <a href=""><span class="badge badge-info">{{post.branch}}</span></a> <a href=""><span class="badge badge-info">{{post.category}}</span></a> <a href=""><span class="badge badge-info">{{post.relatedto}}</span></a>
                  </div>
                </div>
                
                <div class="panel-body">
                  <p>{{post.text}}</p>
                </div>
              </div>
            </div>
    
          </div>



        </div>


     </div>
    </div>
    <script>
      $( document ).ready(function() 
      {
          $(function() 
          {
              $.material.init();
          });
      });    
    </script>