<link href="./stylesheets/auth.css" rel="stylesheet">
<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="enrollment no" class="sr-only">Enrollment no</label>
        <input type="text"  class="form-control" placeholder="Enrollement No" required autofocus ng-model="user.username">
        <label class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" required ng-model="user.password">
        <input type="button" class="btn btn-lg btn-success btn-block" value="Login" ng-click="login()"></input>
        <p>Haven't Signup already?<a href="#/signup"> Signup</a></p>
      </form>

</div>